.form {
  width: 45%;

  &__group {
    margin-bottom: 0.2rem;
  }

  &__input {
    background-color: #162029;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 1.5rem;
    border: none;
    width: 100%;
  }
}
