.section-about {
  padding: 10rem 8rem;
}

.section-projects {
  padding: 10rem 8rem;
  background-color: #eee;
}

.section-contact {
  background-color: #252933;
  padding: 10rem 8rem;

  h2 {
    color: #fff;
  }

  hr {
    background-color: #fff;
  }
}
